/****************************** TAG SELECTORS ******************************/
h1 {
  color: red;
  font-size: 200px;
}


img:hover{
  background-color: orange;
}

/****************************** CLASS SELECTORS ******************************/
.broccoli {
  background-color: red;
}

.bacon {
  background-color: green;
}
